.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.default {
  color: #ffffff;
  border: 1px solid #ffffff;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.black {
  color: #000;
  border: 1px solid #000;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
