.cardSection {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  background: #f7f7f7;
}

.cardTitle {
  text-align: center;
  margin-bottom: 32px;
}

.cardWrap {
  padding: 24px 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4px;
  row-gap: 32px;
  column-gap: 24px;
}
