.root {
    margin: 0 0 0.5em;
    padding: 0;
    color: #000000d9;
    font-weight: 600;

    &.backLine {
        text-align: center;
        &::after {
            content: "";
            display: block;
            width: 30%;
            max-width: 100px;
            position: relative;
            border-bottom: 1px solid #aaa;
            margin: 15px auto 0;
        }
    }
}

.colorBlack {
    color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.level1 {
    font-size: 38px;
    line-height: 1.23;
}

.level2 {
    font-size: 30px;
    line-height: 1.35;
}

.level3 {
    font-size: 24px;
    line-height: 1.35;
}

.level4 {
    font-size: 20px;
    line-height: 1.4;
}

.level5 {
    font-size: 16px;
    line-height: 1.5;
}
